.all {
    height: 100vh;
    background-image: url(../../public/back3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.container {
    height: 90vh;
    width: 100%;
} 
.center {
    margin: 0 auto;
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.text {
    font-size: 3.8rem;
    color: #2374e1;
    font-weight: 300;
    word-break: break-word;
    text-align: center;
}
.center h1 {
    margin-bottom: 2rem;
    font-weight: 400;
    word-break: break-word;
    text-align: center;
}
.center h4 {
    margin-top: 32px;
    font-weight: 300;
}
.center a {
    font-size: 2rem;
    margin-top: 32px;
    color: #fff;
    text-decoration: none;
    background-color: #2374e1;
    padding: 16px 32px;
    border-radius: 32px;
}
@media screen and (max-width: 1080px) {
    .center {
        font-size: 2.6rem;
    }
    .center a {
        font-size: 1.8rem;
    }
    .text {
        font-size: 3.4rem;
    }
}
@media screen and (max-width: 770px) { 
    .text {
        display: none;
    }
    .center h1 {
        margin-bottom: 0;
    }
    .center h4 {
        color: #2374e1;
    }
}
@media screen and (max-width: 650px) {
    .center {
        font-size: 2.2rem;
    }
    .center a {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 500px) {
    .center {
        font-size: 2rem;
    }
    .center a {
        padding: 12px 28px;
    }
    
}