.container {
    height: 100%;
    min-height: 95vh;
    width: 100%;
}
.center {
    height: 100%;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin: auto; 
}
.image {
    position: relative;
    width: 300px;
    height: 170px;
    margin: 0 auto;
}
.title {
    padding-top: 64px;
    font-size: 1.8rem;
    text-align: center;
}
.title h3 {
    font-weight: 300;
    color: #fff;
    font-size: 3.2rem;
}
.title h2 {
    font-size: 5.2rem;
    font-weight: 600;
    margin-bottom: 2.2rem;
    font-weight: 600;
    font-family: 'Gentium Plus', serif;
    color: #2374e1;
}
.title hr {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 2.8rem;
    border: none;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
}
.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    margin: auto;
}
.card1 {
    height: 100%;
    min-height: 450px;
    width: 100%;
    max-width: 350px;
    background-color: #242526;
    text-align: center;
    padding-top: 25px;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    position: relative;
    justify-content: center;
    margin: 20px auto;
}
.card1 p{
    text-align: left;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.card1
 ul {
    text-align: left;
    max-width: 300px;
    width: 90%;
    margin: auto;
    list-style: none;
}
.card1 h3 {
    margin: 1.8rem 0 1.6rem 0;
}
.card2 {
    height: 100%;
    min-height: 450px;
    width: 100%;
    max-width: 350px;
    background-color: #242526;
    text-align: center;
    padding-top: 25px;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    margin: 20px auto;
}
.card2 p{
    text-align: left;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.card2 .lista {
    text-align: left;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.card2 ul {
    list-style: none;
}
.card2 h3 {
    margin: 1.8rem 0 1.6rem 0;
}
.lista {
    display: flex;
}
.card3 {
    height: 100%;
    min-height: 450px;
    width: 100%;
    max-width: 350px;
    background-color: #242526;
    text-align: center;
    padding-top: 25px;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    margin: 20px auto;
}
.card3 p{
    text-align: left;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.card3 h3 {
    margin: 1.8rem 0 1.6rem 0;
}
.card3 ul {
    text-align: left;
    max-width: 300px;
    width: 90%;
    margin: auto;
    list-style: none;
}
.button {
    border-radius: 10px;
    padding: 16px 32px 16px 32px;
    width: 90%;
    margin-top: 2.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    background-color: #2374e1;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 605px) {
    .title h3 {
        font-size: 3rem;
    }
    .title h2 {
        font-size: 4.8rem;
    }
}
@media screen and (max-width: 555px) {
    .title h3 {
        font-size: 2.8rem;
    }
    .title h2 {
        font-size: 4rem;
    }
}
@media screen and (max-width: 425px) {
    .title h3 {
        font-size: 2.4rem;
    }
    .title h2 {
        font-size: 3.6rem;
    }
    .card1, 
    .card2,
    .card3 {
        height: 460px;
    }
}
@media screen and (max-width: 370px) {
    .image {
        position: relative;
        width: 250px;
        height: 150px;
        margin: 0 auto;
    }
    .card2 ul li {
        font-size: 1.4rem;
    }
    .card1, 
    .card2,
    .card3 {
        height: 460px;
        width: 100%;
        max-width: 300px;
    }
    .button {
        margin-bottom: 1rem; 
    }

}
