.container {
    height: 90vh;
    width: 100%;
}
.center {
    max-width: 80%;
    margin: 0 auto;
}
.image {
    position: relative;
    width: 300px;
    height: 170px;
    margin: 0 auto;
}
.title {
    padding-top: 64px;
    font-size: 1.8rem;
    text-align: center;
}
.title h3 {
    font-weight: 300;
    color: #fff;
    font-size: 3.2rem;
}
.title h2 {
    font-size: 5.2rem;
    font-weight: 600;
    margin-bottom: 2.2rem;
    font-weight: 600;
    font-family: 'Gentium Plus', serif;
    color: #2374e1;
}
.title hr {
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 2.8rem;
    border: none;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
}
.cards {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.card1 {
    height: 450px;
    width: 350px;
    background-color: #242526;
    text-align: center;
    padding-top: 25px;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    margin: 2rem;
}
.card1 p{
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.card1
 ul {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    list-style: none;
}
.card1 h3 {
    margin: 1.8rem 0 1.6rem 0;
}
.card2 {
    height: 450px;
    width: 350px;
    background-color: #242526;
    text-align: center;
    padding-top: 25px;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    margin: 2rem;
}
.card2 p{
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.card2 ul {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    list-style: none;
}
.card2 h3 {
    margin: 1.8rem 0 1.6rem 0;
}
.lista {
    display: flex;
}
.card3 {
    height: 450px;
    width: 350px;
    background-color: #242526;
    text-align: center;
    padding-top: 25px;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    margin: 2rem;
}
.card3 p{
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.card3 h3 {
    margin: 1.8rem 0 1.6rem 0;
}
.card3 ul {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    list-style: none;
}
.button {
    border-radius: 10px;
    width: 300px;
    padding: 16px 32px 16px 32px;
    margin-top: 2.8rem;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    background-color: #2374e1;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 1365px) {
    .center {
        max-width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        height: 260vh;
    }
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}